<div class="my-5 mx-2 p-5">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link external-link-text" href="https://github.com/lwam-ng"> <i
                    class="fa fa-github-square"></i> Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link external-link-text" href="https://www.linkedin.com/in/lwam-negash/"> <i
                    class="fa fa-linkedin-square"></i> LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link external-link-text" href="mailto:lwam.ghebregergish@gmail.com"> <i
                    class="fa fa-google"></i> Gmail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link external-link-text" href="https://www.facebook.com/lwam.negash"> <i
                    class="fa fa-facebook-square"></i> Facebook</a>
        </li>
    </ul>
</div>
</div>
</div>
</body>

</html>